.admin-layout {
    min-height: 100vh;
    background: #11131b;
    color: white;
}

.admin-content {
    margin-left: 256px; /* bằng width sidebar */

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.admin-main {
    flex: 1;
    overflow-y: auto;
}