.topbar {
    height: 64px;

    background: #11131b;
    border-bottom: 1px solid #434654;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 24px;
}

.topbar-left {
    display: flex;
    align-items: center;
    gap: 24px;
}

.brand {
    color: #b5c4ff;
    font-size: 24px;
    font-weight: 700;
}

.search-box {
    width: 280px;
    height: 42px;

    background: #1d1f27;

    border: 1px solid #434654;
    border-radius: 12px;

    padding: 0 16px;

    color: white;
}

.search-box::placeholder {
    color: #8d90a0;
}

.search-box:focus {
    outline: none;
    border-color: #6d4aff;
}

.topbar-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon-btn {
    width: 40px;
    height: 40px;

    border: none;
    border-radius: 12px;

    background: transparent;

    cursor: pointer;
    font-size: 16px;
}

.icon-btn:hover {
    background: rgba(255,255,255,.05);
}

.divider {
    width: 1px;
    height: 32px;
    background: #434654;
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-avatar {
    width: 36px;
    height: 36px;

    border-radius: 12px;

    background: #4f319c;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info span {
    color: #c3c5d7;
    font-size: 10px;
}

.profile-info strong {
    color: #e2e1ed;
    font-size: 13px;
}
.topbar-icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon-btn {
    width: 40px;
    height: 40px;

    border: none;
    background: transparent;

    color: #c3c5d7;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    transition: .3s;
}

.icon-btn:hover {
    background: rgba(255,255,255,.05);
    color: white;
}