# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite/

# Môi trường ảo (Tuyệt đối không push vì thư mục này cực kỳ nặng)
.venv/
venv/
ENV/

# File biến môi trường (chứa password, API key, thông tin database)
.env
.env